extends layout

block content

  .main
    h3.title Check out Restaurants nearby
    .container.home
      .col-md-6.login
        h1.display-4.m-b-2 Log In

        form(method='POST' action='/login')
          div.form-group
            label(for='email') Email
            input.form-control(type='text' id='email' placeholder='email' name='email')
          div.form-group
            label(for='password') Password
            input.form-control(type='password' id='password' placeholder='password' name='password')
          button.btn.btn-primary(type='submit') Log in
          if(error)
            .error
              p.error #{error}
      .col-md-6.register
        h1.display-4.m-b-2 Sign Up
        form(method='POST' action='/register')
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='first name' name='name' value=name)
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email' value=email)
          div.form-group
            label(for='pw') Password:
            input#pw.form-control(type='password' name='password')
          div.form-group
            label(for='pw2') Confirm Password:
            input#pw2.form-control(type='password' name='confirmPassword')
          button.btn.btn-primary(type='submit') Sign up
          if(error)
            .error
              p.error #{error}
