extends layout

block content

	main.container-fluid
		.map-and-list
			.map-wrapper
				#map

			.info-wrapper
				.listing
					.results
						each restaurant in restaurants
							div.restaurant-info(data-restaurant=restaurant)
								a.iw-reviews(data-lat= restaurant.geometry.location.lat data-lng= restaurant.geometry.location.lng href=`/map/${restaurant.place_id}`) #{restaurant.name}
			.info-content
				.iw-icon
				h3.iw-rating
				.extra-details
					.iw-url
					.iw-address
					.iw-phone
					.iw-website
					.iw-open
					a.iw-reviews(href=`/restaurant/${restaurant}`)
			.info-content-small
				.iw-icon-small
				h3.iw-rating-small
				.extra-details
					.iw-url-small



	script(src="/javascripts/map_new.js")
	script(src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBDucSpoWkWGH6n05GpjFLorktAzT1CuEc&callback=initMap', async = '', defer = '')

