extends layout

block content

	main.container-fluid


		#search
			#locationField
				input#autocomplete-input(placeholder='Search by city', type='text')
				input#autocompleteRestaurant-input(placeholder='Search by Restaurant', type='text')
		.map-and-list
			.map-wrapper
				#map
					each restaurant in restaurants
						a#iw-reviews(data-lat= restaurant.geometry.location.lat data-lng= restaurant.geometry.location.lng href=`/map/${restaurant.place_id}`) #{restaurant.name}
					#loading.loading

			.info-wrapper
				#listing
					#results
					button#more More results
			#info-content
				#iw-icon
				h3#iw-rating
				.extra-details
					#iw-url
					#iw-address
					#iw-phone
					#iw-website
					#iw-open
					a#iw-reviews(href=`/restaurant/${restaurant}`)
			#info-content-small
				#iw-icon-small
				h3#iw-rating-small
				.extra-details
					#iw-url-small



